#site-head{
  background:$blue-dark;


  .header-clagan{

    #mega-menu-top-bar-r{
    width: 100% !important;
      li{

        a{
            font-family: $lato !important;
            font-size:13px!important;
            font-weight:700 !important;
            letter-spacing: 3px !important;
            text-transform: uppercase!important;
        }
      }
    }
    #mega-menu-wrap-top-bar-r .mega-menu-toggle #mega-toggle-block-1:after{
      content:"";

    }



    .container-logo{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      .logo{
          width:132px;
          height:24px;
      }
    }
    .container-menu{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    .container-compte{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      .container-cart{
        display:inline-block;
        margin-left:20px;
        position:relative;
        span{
          position:absolute;
          height:20px;
          width:20px;
          background:$blanc;
          border-radius:20px;
          margin:0 auto;
          text-align:center;
          line-height:20px;
          top:-8px;
          right:-8px;
          font-family:$lato;
        }
      }
      .container-user{
        display:inline-block;
        margin-left:15px;
      }
    }

  }
  .container-search{
    background:$gris;
    border-bottom:solid 2px $blanc;
    .woocommerce-product-search-field{
        border: 0px;
    }
    .woocommerce-product-search{
        border:0px;
      position:relative;
      input[type="submit"]{
          background:$or;
          border: 0px;
      position:absolute;
      font-family: $lato;
      font-size:12px;
      font-weight: 700;
      letter-spacing:1px;
      text-transform: uppercase;
      color:$blanc;
      height:100%;
      top:0px;
      right:0px;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      &:hover{
          -webkit-transition: all 0.4s ease-in-out;
          background:$or-dark;

      }
      }
      #woocommerce-product-search-field{
        margin:0px !important;
      }
      .screen-reader-text{
        display:none;
      }
    }
  }
}
