#site-head{
  background:$blue-dark;
  height: 8vh;
  .header-clagan{
    #mega-menu-top-bar-r{
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
      li{
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        //background: url(../images/fixe/menu-icon-invi.png) bottom center no-repeat;
        &:hover{
          cursor: pointer;
          a{
            color: $blanc !important;
            transition: 0.4s ease all;
            cursor: pointer !important;
          }
        }
        &.mega-current-product-ancestor{
          background: url(../images/fixe/hover-menu.png) bottom center no-repeat;
          a{
            color: #fff !important;
            cursor: pointer !important;
          }
        }
        &.mega-current-menu-item{
          background: url(../images/fixe/hover-menu.png) bottom center no-repeat;
          a{
            color: #fff !important;
            cursor: pointer !important;
          }
        }
        &.mega-current-product_cat-ancestor{
          background: url(../images/fixe/hover-menu.png) bottom center no-repeat;
          a{
            color: #fff !important;
            cursor: pointer !important;
          }
        }
        a{
            font-family: $lato !important;
            font-size:13px!important;
            font-weight:700 !important;
            letter-spacing: 3px !important;
            text-transform: uppercase!important;
            cursor: pointer;
            color: #aaaaaa !important;
            transition: 0.4s ease all;
        }
      }
    }
    #mega-menu-wrap-top-bar-r{
      height: 100%;
      display: flex;
      align-items: center;
    }
    #mega-menu-wrap-top-bar-r .mega-menu-toggle #mega-toggle-block-1:after{
      content:"";
    }
    .container-logo{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      .logo{
          width:132px;
          height:24px;
          transition: 0.4s ease all;
          &:hover{
            transition: 0.4s ease all;
            opacity: 0.6;
          }
      }
    }
    .container-menu{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    .container-compte{
      height:70px;
      background:$blue-dark;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      a{
        img{
          transition: 0.4s ease all;
        }
        &:hover{
          img{
            transition: 0.4s ease all;
            opacity: 0.6;
          }

        }
      }
      .container-contact{
        display:inline-block;

      }
      .container-cart{
        display:inline-block;
        margin-left:15px;
        position:relative;
        span{
          position:absolute;
          height:20px;
          width:20px;
          background:$blanc;
          border-radius:20px;
          margin:0 auto;
          text-align:center;
          line-height:20px;
          top:-8px;
          right:-8px;
          font-family:$lato;
          font-weight:700;
          color:$blue-dark;
        }
      }
      .container-user{
        display:inline-block;
        margin-left:15px;
      }
    }

  }
  .container-search{
    background:$gris;
    #woocommerce-product-search-field{
        border: 0px;
        border-bottom: solid 1px $gris;
    }
    .woocommerce-product-search{
      position:relative;
      input[type="submit"]{
          background:$or;
          border: 0px;
      position:absolute;
      font-family: $lato;
      font-size:12px;
      font-weight: 700;
      letter-spacing:1px;
      text-transform: uppercase;
      color:$blanc;
      height:100%;
      top:0px;
      right:0px;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      &:hover{
          -webkit-transition: all 0.4s ease-in-out;
          background:$or-dark;

      }
      }
      #woocommerce-product-search-field{
        margin:0px !important;
      }
      .screen-reader-text{
        display:none;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  #mega-menu-top-bar-r{

    li{

      //background: url(../images/fixe/menu-icon-invi.png) bottom center no-repeat;
      &:hover{
        cursor: pointer;
        background: none !important;
      }
      &.mega-current-product-ancestor{
        background: none !important;
      }
      &.mega-current-menu-item{
        background: none !important;
      }
      a{
          font-family: $lato !important;
          font-size:13px!important;
          font-weight:700 !important;
          letter-spacing: 3px !important;
          text-transform: uppercase!important;
      }
    }
  }
}
