.titre-h3-montres{
    padding-top:100px;
    padding-bottom:80px;

  .lineh3{
      height:1px;
      background:$or;
      display: block;
      vertical-align: baseline;
      width:100%;
      margin-top: 20px;
  }
  h3{
      color:$blue-dark;
      font-family:$lato;
      font-weight:700;
      text-transform: uppercase;
      letter-spacing:10px;
      width:100%;
      display: block;
      vertical-align: baseline;
  }
}
.titre-h3-nouveautes{
    padding-top:100px;
    padding-bottom:0px;

  .lineh3{
      height:1px;
      background:$or;
      display: block;
      vertical-align: baseline;
      width:100%;
      margin-top: 20px;
  }
  h3{
      color:$blue-dark;
      font-family:$lato;
      font-weight:700;
      text-transform: uppercase;
      letter-spacing:10px;
      width:100%;
      display: block;
      vertical-align: baseline;
  }
}
.titre-h3-bracelets{
    padding-top:100px;
    padding-bottom:0px;

  .lineh3{
      height:1px;
      background:$or;
      display: block;
      vertical-align: baseline;
      width:100%;
      margin-top: 20px;
  }
  h3{
      color:$blue-dark;
      font-family:$lato;
      font-weight:700;
      text-transform: uppercase;
      letter-spacing:10px;
      width:100%;
      display: block;
      vertical-align: baseline;
  }
}
